<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Welcome to Rava</title>
  </head>
  <body>
    <% if (user) { %> 
    <%- include('partials/_navbar.ejs') %>
    <h1>Welcome to the Rava app, <%= user.username %>!</h1>
    <% } else { %>
    <h1>Welcome to the app, run enthusiast!</h1>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>
    <% } %>
  </body>
</html>
