<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Rava Running App</title>
  </head>
  <body>
    <% if (user) { %> 
    <%- include('partials/_navbar.ejs') %>
    <h1>Welcome to Rava, <%= user.username %>!</h1>
    <h2>Track your runs. Chase your goals.</h2>
    <img src="/images/runningGroup.jpg" alt="group running a race">
    <% } else { %>
    <h1>Welcome to Rava</h1>
    <div class="homeGrid">
    <div class="gridItems"><img src="/images/running.jpg" alt="man running"></div>
    <div class="gridItems"><h2>Track your runs. <br><br> Chase your goals.<br></h2>
      <p>Rava helps you track your progress, so you can reach your goals. <br><br>Get insights on your runs and achieve your full potential.</p>
    <p>Already a member? <a href="/auth/sign-in" class="login">Log in</a></p><p><a href="auth/sign-up" class="login">Join Us Now</a></p>
    </div>
    <% } %>
  </body>
</html>
