@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

nav {
  background-color: #ff6e00;
  padding: 15px;
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

nav a:visited {
  color: #fff;
}

.navSignOut {
  margin-left: auto;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #ff6e00;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9em;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}
a,
a:visited {
  text-decoration: none;
  color: #000;
}

.linkButton,
.linkButton:visited {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 2rem auto;
  background: #ff6e00;
  padding: 9px;
  color: #fff;
}

ul,
li {
  list-style-type: none;
  margin: 1em 0;
}

#runIndex {
  padding: 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 30px;
  border-radius: 20px;
  margin: 0 auto;
}

/* form styling */
label,
input {
  margin: 12px 2px 0 2px;
}

/* puts distance input, distanceUnit on same line on form*/
.distanceRow {
  gap: 1rem;
}

button {
  background-color: #ff6e00;
  color: white;
  border: none;
  padding: 0.6rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 2rem auto;
  cursor: pointer;
}

/* grid container on show page */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 400px;
  margin: 0 auto;
}

.gridItem {
  padding: 1rem;
}

.runDetailTitles {
  font-weight: bold;
}

.buttonLinkLine {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonLinkLine form {
  padding: 0;
}
.buttonLinkLine form, .buttonLinkLine a {
  margin: 0 .35rem;
}

.login {
  color: #ff6e00;
  font-weight: bold;
}

.login:visited {
  color: #ff6e00;
  
}